stages:     
  - build
  - deploy

variables:
  DOCKER_IMAGE_FRONTEND: "harbor.dvloper.io/desk-manager-cristian-branet/desk-manager-frontend"
  DOCKER_IMAGE_BACKEND: "harbor.dvloper.io/desk-manager-cristian-branet/desk-manager-backend"
  

build-backend-job:     
  stage: build
  image: docker:latest
  services:
    - name: docker:dind
      command: ["--privileged"]
  tags:
    - academy-runner
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  script:
    - echo "Building backend image..."
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin harbor.dvloper.io
    - docker build -t $DOCKER_IMAGE_BACKEND:latest ./backend
    - echo "Pushing backend image to registry..."
    - docker push $DOCKER_IMAGE_BACKEND:latest
    - echo "Backend image successfully pushed to registry."

build-frontend-job:
  stage: build
  image: docker:latest
  services:
    - name: docker:dind
      command: ["--privileged"]
  tags:
    - academy-runner
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  script:
    - echo "Building frontend image..."
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin harbor.dvloper.io
    - docker build -t $DOCKER_IMAGE_FRONTEND:latest ./frontend
    - echo "Pushing frontend image to registry..."
    - docker push $DOCKER_IMAGE_FRONTEND:latest
    - echo "Frontend image successfully pushed to registry."


deploy-job:
  stage: deploy
  image: bitnami/kubectl:latest
  tags:
    - academy-runner
  script:
    - echo "$KUBE_CONFIG" > /.kube/config
    - kubectl get nodes
    - echo "Deploying application..."
    - echo "Application successfully deployed."