stages:     
  - build
  - deploy

variables:
  DOCKER_IMAGE_FRONTEND: "harbor.dvloper.io/desk-manager-cristian-branet/desk-manager-frontend"
  DOCKER_IMAGE_BACKEND: "harbor.dvloper.io/desk-manager-cristian-branet/desk-manager-backend"
  DOCKER_CONFIG: /kaniko/.docker/

build-backend-job:     
  stage: build
  image: gcr.io/kaniko-project/executor:latest
  tags:
    - academy-runner
  script:
    - echo "{\"auths\":{\"harbor.dvloper.io\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - echo "Building backend image with Kaniko..."
    - /kaniko/executor --context ./backend --dockerfile ./backend/Dockerfile --destination $DOCKER_IMAGE_BACKEND:latest
    - echo "Backend image successfully built and pushed to registry."

build-frontend-job:
  stage: build
  image: gcr.io/kaniko-project/executor:latest
  tags:
    - academy-runner
  script:
    - echo "{\"auths\":{\"harbor.dvloper.io\":{\"username\":\"$DOCKER_USERNAME\",\"password\":\"$DOCKER_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - echo "Building frontend image with Kaniko..."
    - /kaniko/executor --context ./frontend --dockerfile ./frontend/Dockerfile --destination $DOCKER_IMAGE_FRONTEND:latest
    - echo "Frontend image successfully built and pushed to registry."

deploy-backend-job:
  stage: deploy
  image: bitnami/kubectl:latest
  tags:
    - academy-runner
  script:
    - echo "$KUBE_CONFIG" > /.kube/config
    - echo "Deploying backend application..."
    - kubectl delete pods -l app=desk-manager-backend -n desk-manager
    - kubectl apply -f k3s-deployment/manifests/backend.yaml
    - kubectl rollout status deployment/desk-manager-backend -n desk-manager
    - echo "Backend application successfully deployed."

deploy-frontend-job:
  stage: deploy
  image: bitnami/kubectl:latest
  tags:
    - academy-runner
  script:
    - echo "$KUBE_CONFIG" > /.kube/config
    - echo "Deploying frontend application..."
    - kubectl delete pods -l app=desk-manager-frontend -n desk-manager
    - kubectl apply -f k3s-deployment/manifests/frontend.yaml
    - kubectl rollout status deployment/desk-manager-frontend -n desk-manager
    - echo "Frontend application successfully deployed."