stages:     
  - build
  - deploy

variables:
  DOCKER_IMAGE_FRONTEND: "harbor.dvloper.io/desk-manager-cristian-branet/desk-manager-frontend"
  DOCKER_IMAGE_BACKEND: "harbor.dvloper.io/desk-manager-cristian-branet/desk-manager-backend"
  

build-backend-job:     
  stage: build
  image: docker:latest
  tags:
    - academy-runner
  script:
    - echo "Building backend image..."
    #- docker login -u cristian.gabriel.branet -p $DOCKER_PASSWORD harbor.dvloper.io
    #- docker build -t $DOCKER_IMAGE_BACKEND:latest ./backend
    - echo "Pushing backend image to registry..."
    #- docker push $DOCKER_IMAGE_BACKEND:latest
    - echo "Backend image successfully pushed to registry."

build-frontend-job:
  stage: build
  image: docker:latest
  tags:
    - academy-runner
  script:
    - echo "Building frontend image..."
    #- docker login -u cristian.gabriel.branet -p $DOCKER_PASSWORD harbor.dvloper.io
    #- docker build -t $DOCKER_IMAGE_FRONTEND:latest ./frontend
    - echo "Pushing frontend image to registry..."
    #- docker push $DOCKER_IMAGE_FRONTEND:latest
    - echo "Frontend image successfully pushed to registry."

deploy-backend-job:
  stage: deploy
  image: bitnami/kubectl:latest
  tags:
    - academy-runner
  script:
    - echo "$KUBE_CONFIG" > /.kube/config
    - echo "Deploying backend application..."
    - kubectl delete pods -l app=desk-manager-backend -n desk-manager
    - kubectl apply -f k3s-deployment/manifests/backend.yaml
    - kubectl rollout status deployment/desk-manager-backend -n desk-manager
    - echo "Backend application successfully deployed."

deploy-frontend-job:
  stage: deploy
  image: bitnami/kubectl:latest
  tags:
    - academy-runner
  script:
    - echo "$KUBE_CONFIG" > /.kube/config
    - echo "Deploying frontend application..."
    - kubectl delete pods -l app=desk-manager-frontend -n desk-manager
    - kubectl apply -f k3s-deployment/manifests/frontend.yaml
    - kubectl rollout status deployment/desk-manager-frontend -n desk-manager
    - echo "Frontend application successfully deployed."