stages:     
  - build
  - deploy

variables:
  DOCKER_IMAGE_FRONTEND: "harbor.dvloper.io/desk-manager/desk-manager-frontend"
  DOCKER_IMAGE_BACKEND: "harbor.dvloper.io/desk-manager/desk-manager-backend"
  

build-job:     
  stage: build
  image: docker:latest
  tags:
    - academy-runner
  script:
    - ping -c 3 10.227.0.13
    - echo "Compiling the code..."
    - echo "Compile complete."

deploy-job:
  stage: deploy
  image: bitnami/kubectl:latest
  tags:
    - academy-runner
  script:
    - echo "$KUBE_CONFIG" > ~/.kube/config
    - export KUBECONFIG=~/.kube/config
    - kubectl get node -v=10
    - echo "Deploying application.."
    - echo "Application successfully deployed."