<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>
    <h2>Welcome <%= name %></h2>
    <h3>Role: <%= role %></h3>

    <p><a href="/logout">Logout</a></p>
</body>
</html>